@import "../node_modules/bootstrap/scss/bootstrap.scss";
$color-navbar-bg:rgba(0, 0, 0, .8);
$color-navbar-link:#fff;
$color-navbar-link-hover:#333;
$color-navbar-brand:#fff;
$color-toggle-icon:#fff;

body {
    font-family: proxima-nova, Helvetica, Arial Unicode, sans-serif;

}

.button-class {
    outline: none;
    color: orangered;
    border: transparent;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    cursor: pointer;
    transition: all ease-in-out .53s;
    font-family: proxima-nova, Helvetica, Arial Unicode, sans-serif;
    box-shadow: 3px 3px 2px -5px #fff;
    box-shadow: 0 8px 6px -6px black;
    background-color: rgba($color: #fff, $alpha: 1.0);

    &:hover {
        background-color: rgba(255, 68, 0, 0.322);
        color: #fff;
        border: 1px solid #fff;
    }

}

* {
    margin: 0;
    padding: 0;
}

section.section1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .video-header {

        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-family: "cookie";
        color: #fff;
        z-index: 99;
        height: 100%;
        width: 100%;

        header {
            z-index: 999;

            nav.navbar-custom {
                background-color: $color-navbar-bg;
                padding: 0;
                //                border-top: 4px solid #666;
                width: 100%;
                z-index: 999;
                //                border:1px solid $color-toggle-icon;

                .navbar-brand {
                    color: $color-navbar-brand;
                    // border: 1px solid red;

                    // margin-left: 2rem;
                    img {

                        height: 2.5rem;

                    }


                }

                .navbar-toggler-icon {
                    color: $color-toggle-icon;
                    font-size: 1.5rem;
                    line-height: 1.5em;
                    margin: auto;
                }


                &:focus,
                &:active {
                    outline: none;
                }


                .navbar-nav {

                    .nav-item.active {
                        //                   background-color: $color-navbar-link-hover;
                        height: 60px;
                        text-align: center;
                        font-weight: 600;
                        letter-spacing: 2px;
                        line-height: 40px;
                        padding: 10px 35px 0 35px;

                        a {

                            color: $color-navbar-link;
                        }

                    }



                    .nav-item {
                        color: $color-navbar-link;
                        height: 70px;

                        text-align: center;
                        font-weight: 600;
                        letter-spacing: 2px;
                        line-height: 40px;

                        padding: 10px 35px 0 35px;

                        a {
                            font-family: proxima-nova, Helvetica, Arial Unicode, sans-serif;
                            color: $color-navbar-link;
                            letter-spacing: .2rem;
                        }

                        &:hover {

                            background-color: $color-navbar-link-hover;
                        }
                    }

                    .dropdown {
                        .dropdown-menu {
                            background-color: $color-navbar-bg;
                            margin-top: -2px;
                            border-radius: 0;
                            padding: 20px 20px;
                        }
                    }

                }


            }


        }

        // header {

        //     position: fixed;
        //     border-top: 5px solid orangered;
        //     width: 100%;
        //     height: 70px;
        //     display: flex;
        //     justify-content: space-around;

        //     nav {
        //         background: #FFF;
        //     }

        //     img {
        //         height: 100%px;
        //     }

        //     ul {
        //         height: 100%;
        //         list-style: none;

        //         li {
        //             flex: 1;
        //             padding: 20px 30px;
        //             float: left;

        //             a {

        //                 text-decoration: none;
        //                 text-transform: uppercase;
        //                 font-size: 1rem;
        //                 color: #fff;
        //                 letter-spacing: .1rem;
        //                 padding: 1rem;

        //                 &:hover {
        //                     border-bottom: 3px solid #fff;
        //                 }
        //             }
        //         }
        //     }
        // }
    }

    .video-content {

        padding: 0;
        position: absolute;
        top: 70px;
        left: 0;
        text-align: center;
        font-family: "cookie";
        color: #fff;
        background-color: rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        font-family: proxima-nova, Helvetica, Arial Unicode, sans-serif;

        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: orangered;
        }

        p {
            font-size: 2rem;
        }

        button {
            @extend .button-class;
        }
    }


    .video-container {
        position: absolute;
    }
}


section.section2 {
    .section2-wrapper {
        .section2-bgcolor {
            background-color: #f3f2ee;
            padding: 3rem;



            .section2-content {
                .section2-part {

                    margin-top: 1rem; // border: 1px solid red;
                    background-color: #fff;
                    padding: 1rem;

                    div.section2-part-header {
                        padding: 1rem 0;
                        //                       border: 1px solid red;
                        text-align: center;

                        i {
                            color: blue;
                            font-size: 3rem;
                        }

                        span.heading {

                            // padding-left: 1rem;
                            display: inline;
                            font-size: 2rem;
                            color: #80673e;
                            color: #c6bba8;
                        }
                    }

                    p {
                        padding: 1rem;
                    }

                }
            }
        }
    }
}


// .section3

section.section3 {
    .section3-wrapper {
        background-color: #f3f2ee;

        .section3-bgcolor {
            background-color: #341f0f;
            color: #fff;
            padding: 4rem 2rem;
            text-align: center;
        }

        .section3-part-header {
            width: 80%;
            margin: auto;

            h1 {
                padding-bottom: 2rem;
            }

            p {
                font-size: 2rem;
            }
        }


        .section3-brands {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;

            .img-button {
                outline: none;
                border: 1px solid tranparent;
            }

            img {
                // border: 1px solid #fff;
                border-radius: .5rem;
                height: 5rem;
                width: 5rem;
                margin: 2rem;

                &:hover {
                    box-shadow: 0 0 12px -1px #9b9991;

                }

            }



            // modal
            div.modal {
                .modal-content {
                    //border: 1px solid red;

                    .modal-body {
                        overflow: hidden;
                        //  border: 1px solid red;


                        img.modal-img {

                            margin: 0;
                            padding: 0 !important;
                            width: 100%;
                            height: auto;
                            // border: 11px solid red;
                        }
                    }
                }
            }
        }
    }
}

.section4 {
    //border: 1px solid red;
    padding: 3rem 1rem;

    .section4-part {
        h1 {
            text-align: center;
        }

        p {
            text-align: justify;
        }
    }

    img {
        box-shadow: 0 0 12px -1px #9b9991;
        width: 100%;
        border-radius: .5rem;
    }
}


section.section5-banner {

    .banner {
        // margin-top: 130px;
        height: 600px;
        background-image: url("./images/image-from-rawpixel-id-2367-jpeg.jpg");
        background-size: cover;
        background-attachment: fixed;
        z-index: -9;

        .bg-color {

            background-color: rgba(0, 0, 0, .5);
            height: 600px;
            display: flex;
            justify-content: center;
            align-items: center;

            .banner-content {

                //overflow: hidden;
                padding: 4rem 4rem;
                width: 70%;
                color: #fff;
                text-align: center;
                box-shadow: 1px 2px 4px 1px #fff;

                h1 {

                    //   vertical-align: center;
                }

                p {
                    margin-bottom: 40px;
                }

                a.button-class {
                    color: red;
                    //margin-top: 120px;
                    border: 1px solid red;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 1rem 4rem;
                    cursor: pointer;
                    transition: all ease-in-out .53s;

                    background-color: rgba($color: #fff, $alpha: 1.0);

                    &:hover {
                        background-color: rgba(255, 0, 0, .3);
                        color: #fff;
                        border: 1px solid #fff;
                    }

                }
            }
        }
    }
}



@media only screen and(max-width:755px) {
    html {
        font-size: 11px;

        span.heading {
            color: red;

        }
    }
}

.footer {
    padding: 2rem;
    background-color: #341f0f;
    color: #fff;
    text-align: center;

}

@media only screen and(min-width:756px) {
    html {
        font-size: 14px;

        span.heading {
            color: black;
            color: green;

        }


    }
}



@media only screen and(min-width:992px) {
    html {
        font-size: 16px;

        span.heading {
            color: black;

        }


    }
}